<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Average height and weight in group</title>
</head>
<body>
    <table>
        <tr>
            <td width="120"><strong>Student Group</strong></td>
            <td width="50"><a href="/">Home</a></td>
            <td width="150"><a href="/avr_data">Average Data</a></td>
        </tr>
    </table>
    <hr>
    <h1>Average height and weight in group:</h1>
    <h3>height = {{ avg_height }} cm</h3>
    <h3>weight = {{ avg_weight }} kg</h3>
</body>
</html>